body {
  background: rgb(155, 155, 155);
  background-image: url("https://i.ibb.co/2F2Rv30/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  min-height: 100vh;
  
  /*
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  
  */
  color: white;
  
}
.navbar-custom{
  background-color: #0c1c2c;
}
.navbar-brand{
  color: lightblue;
}
.navbar-brand:hover{
  color: rgb(255, 255, 255);
}
.nav-link{
  color: lightgray;
}
.nav-link.custom-dark{
  color:gray;
}
.nav-link:hover{
  color: white;
}
p{
  padding-top: 10px;
}
div.gallery {
  border-radius: 8px;
  background-color: #0c1c2c;
  margin: 5px;
  border: 3px solid #000000;
  float : left;
  width : 180px;
}

div.gallery:hover {
  border: 3px solid #ffffff;
}

div.gallery img {
  border-radius: 5px;
  width : 100%;
  height: auto;
}

div.desc {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 10px;
  font-family: "Montserrat";
}