{% extends "layout.html" %}
{% block content %}
<h1><br>Información sobre mi página.</h1>
<p>Mucho gusto. <br>Aquí está todo sobre mi página.</p>
<div class="gallery">
    <a target="_blank" href="{{ url_for('images', filename='img_1.jpg') }}">
        <img src="{{ url_for('images', filename='img_1.jpg') }}" alt="img_111" width="600" height="400">
    </a>
    <div class="desc">Greissy</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/img_2.jpg">
        <img src="/images/img_2.jpg" alt="img_2" width="600" height="400">
    </a>
    <div class="desc">Greissy de nuevo</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/img_3.jpg">
        <img src="/images/img_3.jpg" alt="img_3" width="600" height="400">
    </a>
    <div class="desc">Greissy otra vez</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/img_4.jpg">
        <img src="/images/img_4.jpg" alt="img_4" width="600" height="400">
    </a>
    <div class="desc">Greissy nuevamente</div>
</div>
{% endblock %}